<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.html") %>
</head>

<body>
  <%- include("partials/navigation.html") %>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <%- body %>
      </div>
    </div>
  </div>
    

  <%- include("partials/footer.html") %>
  <%- include("partials/script.html") %>

</body>

</html>